canvas {
	border: 6px solid green;
	position: relative; 
}

.window {
	z-index: 10;
	position: relative;
	width: 90%;
	color: #00FF00;
	background-color: #001100;
	opacity: .80;
	border: 2px solid #000000;
	font-size: small;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
}
